<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>테스트 메인</title>
</head>
<body>
    <img src="https://static.vecteezy.com/packs/media/vectors/term-bg-4-2ce62fdc.jpg" alt=""/>
    <img src="\TestCrawlingData\Image\test.jpg" alt="term-bg-4-2ce62fdc"/>
  <!--  [[${rawData.get(0).imageRemotPathInfo}]]
    [[${selectedData.get(0).image_Remote_path}]]-->
</body>
</html>